[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
pyautogui = "*"
selenium = "*"
webdriver-manager = "*"
dash = "*"
wheel = "*"
cmake = "*"
pyodbc = "*"
kivy = {extras = ["base"], version = "*"}
kivy-examples = "*"
kivymd = "*"

[dev-packages]

[requires]
python_version = "3.10"
